@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');
@import url('https://fonts.googleapis.com/css?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
    --accent: rgba(144, 170, 85, 1);
    --background: rgba(242, 240, 237, 1);
    --primary: rgba(235, 72, 77, 1);
    --secondary: rgba(212, 217, 229, 1);
    --text: rgba(19, 42, 19, 1);
}

body {
    background-color: #121B3A;
    margin: 0;
    padding: 0;
}
