.mainContainer {
    overflow: hidden;

    --images-pattern: url("/src/assets/images/pages/home/pattern-tile.png");
    --images-rila: url("/src/assets/images/pages/home/National-Park-Rila-Bulgaria-Orthodox-Monastery-aerial.jpg");
    --images-vector4: url("/src/assets/images/pages/home/Vector\ 4.svg");
    --images-vector5: url("/src/assets/images/pages/home/Vector\ 5.svg");
    --images-shipka: url("/src/assets/images/pages/home/545b98c678990.jpg");
    --images-varna: url("/src/assets/images/pages/home/TTZ-Varna.jpg");
    --images-sofia: url("/src/assets/images/pages/home/3309_1.jpg");
    --images-plovdiv: url("/src/assets/images/pages/home/IMG_6098-scaled.jpg");
}

.mainContainer,
.mainContainer * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.mainContainer {
    background-color: rgba(242, 240, 237, 1);
    position: relative;
    width: 1440px;
    margin: 0 auto;
}

.mainContainerImage {
    position: absolute;
    background: var(--images-pattern) center;
    background-repeat: repeat;
    background-size: 30%;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 35px;
    position: relative;
    width: 1440px;
    height: 795px;
    margin: 0 0 0 1px;
    z-index: 1;
}

.travellingMadeEasy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 994px;
    height: 168px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 96px;
    font-weight: 700;
    line-height: 108.96px;
    text-align: center;
    z-index: 2;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.heroSubtext {
    flex-shrink: 0;
    position: relative;
    width: 994px;
    height: 116px;
    font-size: 0px;
    z-index: 3;
    border-radius: 45px;
}

.embarkOnAJourney {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 986px;
    height: 114px;
    margin: 1px 0 0 4px;
    color: #ffffff;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 48px;
    font-weight: normal;
    line-height: 48px;
    text-align: center;
    z-index: 5;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.heroSubtextBackground {
    position: absolute;
    width: 994px;
    height: 116px;
    top: 0;
    left: 0;
    background: rgba(95, 58, 3, 0.7);
    z-index: 4;
    border-radius: 45px;
}

.heroBackground {
    position: absolute;
    width: 1440px;
    height: 796px;
    top: 0;
    left: 0;
    background: var(--images-rila) no-repeat center;
    background-size: cover;
}

.heroBackgroundContainer {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.vector4 {
    width: inherit;
    height: inherit;
    position: absolute;
    background: var(--images-vector4);
    background-size: cover;
}

.vector5 {
    top: 8rem;
    width: inherit;
    height: inherit;
    position: absolute;
    background: var(--images-vector5);
    background-size: cover;
}

.contentSection {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
    position: relative;
    width: 1379px;
    height: 394px;
    margin: 74px 0 0 31px;
    z-index: 6;
}

.group {
    background: linear-gradient(90deg, rgba(87, 159, 211, 0.5) 0%, rgba(104, 211, 87, 0.1) 25%, rgba(255, 255, 255, 0) 40%);
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 815px;
    min-height: 0;
    z-index: 7;
}

.rectangle2 {
    position: absolute;
    width: 815px;
    height: 393.999px;
    top: 0;
    left: 0;
    z-index: 8;
    object-fit: fill;
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    position: absolute;
    width: 760px;
    height: 394px;
    top: 0px;
    left: 26.999px;
    z-index: 9;
    border-radius: 45px;
}

.discoverBulgariaWithBgTrek {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 760px;
    height: 58px;
    color: #121b3a;
    font-family: Inter, var(--default-font-family);
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
}

.exploreTheHiddenGemsOfBulgaria {
    line-height: normal;
    flex-shrink: 0;
    position: relative;
    width: 740px;
    height: 222px;
    font-family: Inter, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    z-index: 11;
}

.exploreTheHiddenGemsOfBulgaria3 {
    position: relative;
    color: #000000;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.textF {
    position: relative;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 58.091px;
    text-align: left;
}

.bc {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 386px;
    min-height: 0;
    background: var(--images-shipka) no-repeat center;
    background-size: cover;
    z-index: 12;
    box-sizing: content-box;
    border: #000000 16px solid;
    box-shadow: #316A7C 16px 16px;
}

.citiesSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 1440px;
    height: 1120px;
    margin: 74px 0 0 0;
    padding: 50px 50px 50px 50px;
    background: linear-gradient(135deg, #2b2c56, #004858);
    z-index: 13;
    overflow: hidden;
}

.cities {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 1065px;
    height: 159px;
    color: #ffffff;
    font-family: Koulen, var(--default-font-family);
    font-size: 96px;
    font-weight: 400;
    line-height: 159px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
}

.comeAndTakeALook {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 1065px;
    height: 116px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Kulim Park, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 40.86px;
    text-align: left;
    z-index: 15;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 50px;
    position: relative;
    min-width: 0;
    min-height: 0;
    z-index: 16;
}

.varna {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    z-index: 17;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 374.227px;
    height: 87.647px;
    margin: 605.86px 0 0 175.887px;
    z-index: 19;
    background: linear-gradient(90deg, rgba(142, 198, 65, 1) 0%, rgba(65, 198, 134, 1) 100%);
    border: #244622 solid 6px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    filter: drop-shadow(0px 8px 0px #376B34);
}

.button:hover {
    background: linear-gradient(90deg, rgb(102, 150, 36) 0%, rgb(35, 148, 93) 100%);
}

.varnaButton {
    position: relative;
    cursor: pointer;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    background: transparent;
    border: none;
    z-index: 21;
}

.rectangle5 {
    position: absolute;
    width: 726px;
    height: 745px;
    top: 0;
    left: 0;
    background: var(--images-varna) no-repeat center;
    background-size: cover;
    z-index: 18;
    border-radius: 60px 0 60px 0;
    filter: drop-shadow(0px 8px 0px #376B34);
}

.frame6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 50px;
    position: relative;
    width: 564px;
    z-index: 22;
}

.sofia {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    z-index: 23;
}

.button7 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 272.464px;
    height: 66.19px;
    margin: 241.595px 0 0 145.768px;
    cursor: pointer;
    font-size: 0px;
    background: transparent;
    border: none;
    z-index: 25;
    background: linear-gradient(90deg, rgba(207, 69, 201, 1) 0%, rgba(65, 110, 198, 1) 100%);
    border: #4D3170 solid 6px;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    filter: drop-shadow(0px 8px 0px #8B59C7);
}

.button7:hover {
    background: linear-gradient(90deg, rgb(163, 41, 157) 0%, rgb(44, 84, 165) 100%);
}

.sofiaButton {
    position: relative;
    width: 231.594px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 27.24px;
    text-align: center;
    z-index: 27;
}

.rectangle9 {
    position: absolute;
    width: 564px;
    height: 347.5px;
    top: 0;
    left: 0;
    background: var(--images-sofia) no-repeat center;
    background-size: cover;
    z-index: 24;
    border-radius: 0 40px 0 40px;
    filter: drop-shadow(0px 8px 0px #8B59C7);
}

.plovdiv {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    z-index: 28;
}

.buttonA {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 272.464px;
    height: 66.19px;
    margin: 241.595px 0 0 145.768px;
    cursor: pointer;
    font-size: 0px;
    background: transparent;
    border: none;
    z-index: 30;
    background: linear-gradient(90deg, rgba(207, 69, 201, 1) 0%, rgba(65, 110, 198, 1) 100%);
    border: #4D3170 solid 6px;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    filter: drop-shadow(0px 8px 0px #8B59C7);
}

.buttonA:hover {
    background: linear-gradient(90deg, rgb(163, 41, 157) 0%, rgb(44, 84, 165) 100%);
}

.plovdivButton {
    position: relative;
    width: 231.594px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 27.24px;
    text-align: center;
    z-index: 32;
}

.rectangleB {
    position: absolute;
    width: 272.464px;
    height: 66.19px;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: 31;
}

.rectangleC {
    position: absolute;
    width: 564px;
    height: 347.5px;
    top: 0;
    left: 0;
    background: var(--images-plovdiv) no-repeat center;
    background-size: cover;
    z-index: 29;
    border-radius: 0 40px 0 40px;
    filter: drop-shadow(0px 8px 0px #8B59C7);
}

.statisticsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 1440px;
    height: 422px;
    margin: 0 0 0 0;
    z-index: 33;
}

.horizontalStatistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 1440px;
    height: 281px;
    z-index: 34;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 437px;
    height: 305px;
    color: #f28b5f;
    font-family: Koulen, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
    z-index: 35;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.destinationsD {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 495px;
    height: 192px;
    color: #27bf6d;
    font-family: Koulen, var(--default-font-family);
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
    text-align: center;
    text-overflow: initial;
    z-index: 36;
    overflow: hidden;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.users {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 437px;
    height: 305px;
    color: #f3d745;
    font-family: Koulen, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
    z-index: 37;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.line {
    position: relative;
    height: 0;
    width: 60%;
    border-top: 0.2rem dashed black;
}

.circle {
    position: absolute;
    width: 16px;
    /* adjust size as needed */
    height: 16px;
    /* adjust size as needed */
    background-color: black;
    border-radius: 50%;
    top: -10px;
    /* adjust position as needed */
}

.left {
    left: -6px;
    /* adjust position as needed */
}

.right {
    right: -6px;
    /* adjust position as needed */
}