.mainContainer {
    overflow: hidden;
    --images-background: url("/src/assets/images/pages/destinations/pexels-photo-1634840.jpeg");
    --images-arrow: url("/src/assets/images/pages/destinations/double-arrow.png");
    --images-choose: url("/src/assets/images/pages/destinations/list.png");
    --images-location: url("/src/assets/images/pages/destinations/35_1.jpg");
    --images-vector: url("/src/assets/images/pages/destinations/Vector.svg");
    --images-search: url("/src/assets/images/pages/destinations/search.png");
}

.mainContainer,
.mainContainer * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.mainContainer {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.searchSection {
    overflow: hidden;
    position: relative;
    width: 1440px;
    height: 764px;
    margin: -1px 0 0 0;
    z-index: 42;
}

.pexelsPhoto {
    position: absolute;
    width: 1931px;
    height: 1023px;
    top: -129px;
    left: 0;
    background: var(--images-background) no-repeat center;
    background-size: cover;
    z-index: 43;
}

.vector {
    position: absolute;
    width: 1258px;
    height: 1258px;
    top: -112px;
    left: -470px;
    background: var(--images-vector) no-repeat center;
    background-size: cover;
    z-index: 44;
}

.breathtakingDestinations {
    position: absolute;
    width: 924px;
    height: 203px;
    top: 257px;
    left: 296px;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 64px;
    font-weight: 600;
    line-height: 72.64px;
    text-align: center;
    z-index: 51;
}

.comeAndSee {
    position: relative;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 64px;
    font-weight: 600;
    line-height: 72.64px;
    text-align: center;
}

.lga {
    position: relative;
    color: #3dffa0;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 64px;
    font-weight: 600;
    line-height: 72.64px;
    text-align: center;
}

.ria {
    position: relative;
    color: #ff5b5b;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 64px;
    font-weight: 600;
    line-height: 72.64px;
    text-align: center;
}

.hasToOffer {
    position: relative;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 64px;
    font-weight: 600;
    line-height: 72.64px;
    text-align: center;
}

.search {
    position: absolute;
    width: 598px;
    height: 84px;
    top: 518px;
    left: 422px;
    z-index: 45;
}

.search form {
    width: 100%;
    height: 100%;
}

.rectangle1 {
    position: absolute;
    width: 598px;
    height: 84px;
    top: 0;
    left: 0;
    background: #a74747;
    border: 4px solid #000000;
    z-index: 46;
    border-radius: 20px;
}

.searchButtonBackground {
    position: absolute;
    background-color: #131B3A;
    border-radius: 20%;
    border: white 3px dashed;
    width: 3.5rem;
    height: 3.5rem;
    left: 525px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 47;
}

.searchButton {
    width: 100%;
    height: 100%;
    background: var(--images-search) no-repeat center;
    background-size: 90% 90%;
    top: 0;
    left: 0;
    position: absolute;
}

.searchTextbox {
    text-indent: 0.2em;
    position: absolute;
    width: 375px;
    height: 49px;
    top: 18px;
    left: 20px;
    font-size: 2em;
    font-family: Kulim Park, var(--default-font-family);
    background: white;
    border: 2px solid #131b1b;
    z-index: 48;
}

.searchTextbox::placeholder {
    color: #b8b9cf;
}

.searchADestination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 374px;
    height: 49px;
    margin: 0 0 0 0;
    color: #76789f;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    z-index: 50;
}

.rectangle2 {
    position: absolute;
    width: 375px;
    height: 49px;
    top: 0;
    left: 0;
    background: #d9d9d9;
    border: 2px solid #131b1b;
    z-index: 49;
    box-sizing: content-box;
}

.destinationsSection {
    overflow: hidden;
    position: relative;
    width: 1440px;
    height: 1371px;
    margin: 0 0 0 0;
}

.ellipse {
    position: absolute;
    width: 430px;
    height: 430px;
    top: -206px;
    left: 1224px;
    background-color: #ED4444;
    opacity: 20%;
    background-size: cover;
    z-index: 3;
    border-radius: 50%;
}

.background {
    position: absolute;
    width: 1440px;
    height: 1371px;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(135deg, rgba(42, 74, 124, 1) 0%, rgba(116, 58, 117, 1) 100%);
}

.destinationsHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 680px;
    height: 133px;
    top: 40px;
    left: 40px;
    z-index: 38;
}

.line {
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: white;
    z-index: 40;
    bottom: 0;
}

.cities {
    width: 664px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 64px;
    font-weight: bold;
}

.chose {
    position: absolute;
    width: 72px;
    height: 72px;
    padding: 0px;
    background: var(--images-choose) no-repeat;
    border: none !important;
    background-size: 80% 80%;
    background-position: center;
    z-index: 41;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1/1;
    height: 50%;
}

.dropdownButton {
    background: var(--images-choose) no-repeat;
    border: none;
    width: 100%;
    height: 100%;
    background-size: 80% 80%;
    background-position: center;
    border-radius: 10px;
}

.dropdownMenu {
    inset: 0 auto !important;
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    transform: none;
}

.dropdownContent {
    top: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    border-radius: 10px;
    position: absolute;
    gap: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: linear-gradient(135deg, rgba(243, 83, 83, 0.9) 0%, rgba(35, 44, 238, 0.9) 100%);
}

.dropdownContent a {
    display: block;
    font-size: 2rem;
    font-family: Josefin Slab, var(--default-font-family);
    color: white;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    text-align: center;
}

.dropdownLine {
    height: 0;
    width: 90%;
    border-top: 4px dashed rgba(255, 255, 255, 0.6);
}

.frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
    width: 1386px;
    height: 1032px;
    top: 240px;
    left: 28px;
    z-index: 4;
}

.backIcon {
    flex-shrink: 0;
    position: relative;
    width: 92px;
    height: 92px;
    background: var(--images-arrow) no-repeat center;
    transform: rotate(180deg);
    background-size: cover;
    z-index: 5;
}

.frame3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 1160px;
    height: 1032px;
    z-index: 6;
}

.row {
    flex-grow: 1;
    gap: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 1rem;
}

.elementContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.destinationContainer {
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 50%), var(--images-location);
    background-position: center;
    background-size: 200%;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, 0.7);
}

.linkButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    bottom: 15%;
    transform: translateX(-50%);
    left: 50%;
    background-color: rgba(72, 207, 158, 0.8);
    box-shadow: 0px 0.5rem 0px 0px rgba(23, 78, 59, 0.8);
    width: 70%;
    border-radius: 30px;
    padding: 0.5rem;
}

.linkButtonContainer:hover {
    background-color: rgba(67, 227, 233, 0.8);

}

.linkButton {
    color: white;
    font-size: 2em;
    font-family: Koulen, var(--default-font-family);
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.2rem;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

.elementBorder {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 10px;
    border-image:
        linear-gradient(rgba(255, 247, 226, 0.6),
            rgba(255, 169, 141, 0.6)) 2;
    /* border-image: linear-gradient(45deg, rgba(255, 247, 226, 0.6) 0%, rgba(255, 169, 141, 0.6) 100%) solid 10px; */
}

.nextIcon {
    flex-shrink: 0;
    position: relative;
    width: 92px;
    height: 92px;
    background: var(--images-arrow) no-repeat center;
    background-size: cover;
    z-index: 37;
}

.ellipse2 {
    position: absolute;
    width: 682px;
    height: 682px;
    top: 863px;
    left: -106px;
    background-color: #33A96B;
    opacity: 20%;
    background-size: cover;
    z-index: 2;
    border-radius: 50%;
}