:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1440px;
    height: 649px;
    margin: 0 auto;
}

.header-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #121b3a;
}

.image-background {
    position: absolute;
    width: 44.2%;
    height: 100%;
    top: 0;
    left: 55.8%;
    background: #ffffff;
    z-index: 1;
}

.contact-us-background-art {
    position: absolute;
    width: 44.2%;
    height: 100%;
    top: 0;
    left: 55.8%;
    background: url(../assets/images/b2d95707-c4ff-4725-9486-91481c8305b3.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 2;
}

.footer-contact-us {
    position: absolute;
    width: 51.42%;
    height: 19.72%;
    top: 7.09%;
    left: 23.42%;
    z-index: 36;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #33a86b;
    border: 4px solid #132a13;
    z-index: 37;
    border-radius: 30px;
    box-shadow: 6px 6px 10px 0 #000000;
}

.contact-us {
    position: absolute;
    width: 60.41%;
    height: 67.97%;
    top: 15.63%;
    left: 1.08%;
    cursor: pointer;
    color: #ffffff;
    font-family: Koulen, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 86.719px;
    white-space: nowrap;
    background: transparent;
    border: none;
    z-index: 38;
}

.rectangle-1 {
    position: absolute;
    width: 10.81%;
    height: 62.5%;
    top: 18.75%;
    left: 74.32%;
    background: #366388;
    border: 4px dashed #ffffff;
    z-index: 39;
    border-radius: 20px;
    box-sizing: content-box;
}

.contact {
    position: absolute;
    width: 8.65%;
    height: 50%;
    top: 25%;
    left: 75.41%;
    background: url(../assets/images/a6fc2876985adc41a39ab255b2f3d550f51b47eb.png) no-repeat center;
    background-size: cover;
    z-index: 40;
}

.footer-left-section {
    position: absolute;
    width: 51.39%;
    height: 51.77%;
    top: 41.6%;
    left: 1.67%;
    z-index: 3;
}

.navigation-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    position: relative;
    width: 740px;
    margin: 0 0 0 0;
    z-index: 4;
}

.row {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 80px;
    position: relative;
    min-width: 0;
    z-index: 5;
}

.blogs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 100px;
    z-index: 6;
}

.blogs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 72px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 7;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 100px;
    z-index: 8;
}

.our-blogs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 100px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 9;
}

.destinations-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 170px;
    z-index: 10;
}

.destinations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 168px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
}

.vertical-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 170px;
    z-index: 12;
}

.our-destinations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 170px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 13;
}

.row-3 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 80px;
    position: relative;
    min-width: 0;
    z-index: 14;
}

.store-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 98px;
    z-index: 15;
}

.store {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 74px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 16;
}

.vertical-container-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 98px;
    z-index: 17;
}

.our-store {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 98px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 18;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 149px;
    z-index: 19;
}

.about-us-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 130px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 20;
}

.vertical-container-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 149px;
    z-index: 21;
}

.our-company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 149px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 22;
}

.contact-us-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 110px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 23;
}

.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 100px;
    z-index: 24;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 55px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 25;
}

.vertical-container-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 100px;
    z-index: 26;
}

.our-faq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 100px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 27;
}

.social-links {
    position: relative;
    width: 738.529px;
    height: 63px;
    margin: 51px 0 0 0;
    z-index: 28;
    overflow: visible auto;
}

.horizontal-line {
    position: relative;
    width: 737.512px;
    height: 4px;
    margin: 0 0 0 0;
    background: url(../assets/images/a33f403e-e8c5-4213-9114-a248a6fdc1c5.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 30;
}

.icon-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    position: absolute;
    width: 234px;
    height: 36px;
    top: 27px;
    left: 0;
    z-index: 31;
}

.twitter {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../assets/images/523d1ae92d0e487365ffcbb21a6cff117164b350.png) no-repeat center;
    background-size: cover;
    z-index: 32;
}

.instagram {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../assets/images/6149c9f42ff6c577eef6a6f7f8645eae9f50ffc7.png) no-repeat center;
    background-size: cover;
    z-index: 33;
}

.facebook {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../assets/images/d408541888ea5d25ee8cb6b3f1c81675798cc87d.png) no-repeat center;
    background-size: cover;
    z-index: 34;
}

.linkedin-logo {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../assets/images/e8c4068fae16391b1770a7d299caef700942a699.png) no-repeat center;
    background-size: cover;
    z-index: 35;
}

.bg-trek {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 23.98%;
    height: 46.03%;
    top: 47.62%;
    left: 76.02%;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 27.24px;
    text-align: center;
    white-space: nowrap;
    z-index: 29;
}