.mainContainer {
    overflow: hidden;

    --images-background: url("/src/assets/images/components/footer/minimalist-abstract-mountain-landscape-modern-vector-41276987.png");
    --images-contact: url("/src/assets/images/components/footer/contact.png");
    --images-twitter: url("/src/assets/images/components/footer/twitter.png");
    --images-instagram: url("/src/assets/images/components/footer/instagram.png");
    --images-facebook: url("/src/assets/images/components/footer/facebook.png");
    --images-linkedin: url("/src/assets/images/components/footer/linkedin-logo.png");
}

.mainContainer,
.mainContainer * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.mainContainer {
    position: relative;
    width: 1440px;
    height: 649px;
    margin: 0 auto;
}

.headerBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #121b3a;
}

.imageBackground {
    position: absolute;
    width: 44.2%;
    height: 100%;
    top: 0;
    left: 55.8%;
    background: #ffffff;
    z-index: 1;
}

.contactUsBackgroundArt {
    position: absolute;
    width: 44.2%;
    height: 100%;
    top: 0;
    left: 55.8%;
    background: var(--images-background) no-repeat center;
    background-size: 100% 100%;
    background-size: cover;
    z-index: 2;
    opacity: 50%;
}

.footerContactUs {
    position: absolute;
    width: 51.42%;
    height: 19.72%;
    top: 7.09%;
    left: 23.42%;
    z-index: 36;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #33a86b;
    border: 4px solid #132a13;
    z-index: 37;
    border-radius: 30px;
    box-shadow: 6px 6px 10px 0 #000000;
}

.contactUsHeading {
    margin: 0;
    position: absolute;
    color: #ffffff;
    font-family: Koulen, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    z-index: 38;
    transform: translateY(-50%);
    top: 50%;
    left: 10%;
}

.rectangle1 {
    position: absolute;
    width: 10.81%;
    height: 62.5%;
    top: 18.75%;
    left: 74.32%;
    background: #366388;
    border: 4px dashed #ffffff;
    z-index: 39;
    border-radius: 20px;
    box-sizing: content-box;
}

.contact {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: var(--images-contact) no-repeat center;
    background-size: cover;
    z-index: 40;
}

.footerLeftSection {
    position: absolute;
    width: 51.39%;
    height: 51.77%;
    top: 41.6%;
    left: 1.67%;
    z-index: 3;
}

.navigationLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    position: relative;
    width: 740px;
    margin: 0 0 0 0;
    z-index: 4;
}

.row {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 80px;
    position: relative;
    min-width: 0;
    z-index: 5;
}

.blogsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 100px;
    z-index: 6;
}

.blogs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 72px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 7;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 100px;
    z-index: 8;
}

.ourBlogs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 100px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 9;
}

.destinationsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 170px;
    z-index: 10;
}

.destinations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 168px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
}

.verticalContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 170px;
    z-index: 12;
}

.ourDestinations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 170px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 13;
}

.row3 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 80px;
    position: relative;
    min-width: 0;
    z-index: 14;
}

.storeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 98px;
    z-index: 15;
}

.store {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 74px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 16;
}

.verticalContainer4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 98px;
    z-index: 17;
}

.ourStore {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 98px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 18;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 149px;
    z-index: 19;
}

.aboutUs5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 130px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 20;
}

.verticalContainer6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 149px;
    z-index: 21;
}

.ourCompany {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 149px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 22;
}

.contactUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 110px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 23;
}

.faqSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 100px;
    z-index: 24;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 55px;
    height: 36px;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 32px;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 25;
}

.verticalContainer8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 100px;
    z-index: 26;
}

.ourFaq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 100px;
    height: 24px;
    color: #c4d3ea;
    font-family: Josefin Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 27;
}

.socialLinks {
    position: relative;
    width: 738.529px;
    height: 63px;
    margin: 51px 0 0 0;
    z-index: 28;
    overflow: visible auto;
}

.horizontalLine {
    position: relative;
    width: 737.512px;
    height: 4px;
    margin: 0 0 0 0;
    z-index: 30;
    background-color: #304078;
}

.iconLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    position: absolute;
    width: 234px;
    height: 36px;
    top: 27px;
    left: 0;
    z-index: 31;
}

.twitter {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    background: var(--images-twitter) no-repeat center;
    background-size: cover;
    z-index: 32;
}

.instagram {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    background: var(--images-instagram) no-repeat center;
    background-size: cover;
    z-index: 33;
}

.facebook {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    background: var(--images-facebook) no-repeat center;
    background-size: cover;
    z-index: 34;
}

.linkedIn {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    background: var(--images-linkedin) no-repeat center;
    background-size: cover;
    z-index: 35;
}

.bgTrek {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 23.98%;
    height: 46.03%;
    top: 47.62%;
    left: 76.02%;
    color: #ffffff;
    font-family: Kulim Park, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 27.24px;
    text-align: center;
    white-space: nowrap;
    z-index: 29;
}